.root {
  @apply relative w-full h-full;
  overflow-y: hidden;
}

.leftControl,
.rightControl {
  @apply absolute z-20 items-center justify-center hidden w-16 h-16 -translate-x-1/2 rounded-full sm:flex top-1/2;
}

.leftControl:hover,
.rightControl:hover {
  @apply outline-none;
}

.leftControl {
  @apply bg-cover left-10;
  background-image: url("public/cursor-left.png");

  @screen md {
    @apply left-6;
  }
}

.rightControl {
  @apply bg-cover right-10;
  background-image: url("public/cursor-right.png");

  @screen md {
    @apply right-6;
  }
}

.control {
  @apply transition duration-150 opacity-0;
}

.root:hover .control {
  @apply opacity-100;
}

.positionIndicatorsContainer {
  @apply absolute flex bottom-2 left-1/2;

  @screen sm {
    @apply absolute block bottom-6 left-1/2;
    /* transform: translateX(-50%); */
  }
  transform: translateX(-50%);
}

.positionIndicator {
  @apply p-2 rounded-full;
}

.dot {
  @apply w-3 h-3 transition bg-blue-400 rounded-full;
}

.positionIndicator:focus {
  @apply outline-none;
}

.positionIndicator:focus .dot {
  @apply outline-black;
}

.positionIndicatorActive .dot {
  @apply bg-white;
}

.positionIndicatorActive:hover .dot {
  @apply bg-white;
}
